*{
          margin: 0;
          padding:0;
          text-align: center;
}
h1{
          background-color: 	#536a67;
          color: 	#ecffce;
          height: 4rem;
          text-align: center;
          line-height: 4rem;
}
.choice{
      height: 200px;
      width: 300px;  
      margin-top: 85px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
   
}
.choice:hover{
          cursor:pointer;
          background-color:#536a67;
    transform: scale(1.2);
         

}

img{
          height: 150px;
          width: 150px; 
          object-fit: cover;
         border-radius: 50%;
}
.choices{
          display: flex;
          justify-content: center;
}
.score-board
{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          margin-top: 4rem;
          gap: 4rem;

}
#userscore {

         font-size: 4rem;
         
}

          #compscore{
          font-size: 4rem;
          }
        
.msg-container{
          margin-top: 2rem;
  
}
#msg{
          background-color: #536a67;
          height: 3rem;
          line-height: 3rem;
          color: #ecffce;
          font-size: 2rem;
          margin-top: 1rem;
          font-family:'Courier New', Courier, monospace;
          display: inline;
          padding: 1rem;
          border-radius: 1rem;
}
